* {
  box-sizing: border-box;
}

body{
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

.products__container {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__article {
  margin : 1rem;
}

.product__footer {
  margin : 1rem 0;
}

.product--name {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.product__image {
  width : 300px;
  height : 300px;
}